<%= form_for Message.new, remote: true do |f| %>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <%= f.text_field :body, class: 'input is-large', placeholder: 'type ...', autocomplete: 'off' %>
    </p>
    <p class="control">
      <%= f.submit 'Send', class: 'button is-info is-large' %>
    </p>
  </div>
<% end %>
