<section class="section" style="height: 100vh">
  <div class="container">

    <div class='box' id='messages' style='overflow-y:scroll;'>
      <%= render @messages %>
    </div>

    <%= render 'form' %>
  </div>
</section>
