<section class="section">
  <div class="container">
    <h1 class="title">
      Chat Room
    </h1>
    <p class="subtitle">
      My first chat application, powered by <strong>ActionCable</strong>.
    </p>

    <div class='box' id='messages' style='overflow-y:scroll; height: 400px'>
      <%= render @messages %>
    </div>

    <%= render 'form' %>
  </div>
</section>
